<div id="game-container" class="game-container"></div>

<div id="login-backdrop" class="login-backdrop">
    <div class="login-backdrop-overlay"></div>
</div>
<div id="login" class="login-container">
    <h3 class="login-title">PowPow</h3>
    <div class="login-content">
        <input id="login-nickname" class="form-control" placeholder="Nickname" maxlength="15"/>
        <button id="login-guest" class="btn btn-primary">Play as Guest</button>
        <div class="login-social">
            <h4>Or login for even more fun</h4>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-large btn-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="btn-text">Sign In</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-large btn-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        <span class="btn-text">Sign In</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-large btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="btn-text">Sign In</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
