<style>
    * {
        line-height: 1.2;
        margin: 0;
    }

    html,
    body,
    main {
        height: 100%;
    }

    #wrapper {
        color: #888;
        display: table;
        font-family: "Courier New";
        height: 100%;
        text-align: center;
        width: 100%;
    }

    #content {
        display: table-cell;
        vertical-align: middle;
        margin: 2em auto;
    }

    h1 {
        color: #555;
        font-size: 2em;
        font-weight: 400;
    }

    p {
        margin: 0 auto;
        min-width: 300px;
    }

    @media only screen and (max-width: 280px) {

        body, p {
            width: 95%;
        }

        h1 {
            font-size: 1.5em;
            margin: 0 0 0.3em;
        }

    }

</style>

<div id="wrapper">
    <div id="content">
        <p>Studiengang: MultimediaTechnology / FHS</p>
        <p>Zweck: Web (Basisqualifikationen)</p>
        <p>Autor: Erfan Ebrahimnia <a href="http://twitter.com/_3rfan">@_3rfan</a>
    </div>
</div>
