.btn {
    border: 2px solid #acacac;
    padding: 6px;
    color: #fff;
}

.btn-large {
    padding: 10px;
}

.btn-primary {
    border-color: #e19400;
    background: #ffa905;
}

.btn-facebook {
    background: #3b5998;
    border-color: #2f4b85;
}

.btn-google {
    background: #d34836;
    border-color: #B1210E;
}

.btn-twitter {
    background: #00aced;
    border-color: #018ABD;
}
