.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear {
    clear: both;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}
