<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>powpow | {{ title }}</title>
<meta name="description" content="Multiplayer Shooter game based on Node and WebSockets">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/build/main.css">

<script src="/build/phaser/phaser.min.js"></script>
<script src="/build/main.js"></script>

{{#if isLoggedIn}}
<script>
    window.App.User.id = {{ user.id }};
    window.App.User.name = "{{ user.name }}";
</script>
{{/if}}
