<div id="navbar-container" class="navbar-container is-visible">
    <div id="navbar" class="navbar clearfix">
        <ul class="navbar-list">
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    My Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Community
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    About
                </a>
            </li>
            <li class="pull-right">
                <a href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <div id="navbar-trigger" class="navbar-trigger">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
</div>
