<div id="navbar-container" class="navbar-container is-visible">
    <div id="navbar" class="navbar clearfix">
        <ul class="navbar-list">
            <li>
                <a href="/">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    Play
                </a>
            </li>
            <li>
                <a href="/me">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="/highscore">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    Top 100 List
                </a>
            </li>
            <li>
                <a href="/imprint">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Imprint
                </a>
            </li>
            {{#if isLoggedIn }}
            <li class="pull-right">
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a>
            </li>
            <li class="pull-right is-avatar">
                <img class="navbar-avatar" src="{{ user.avatar }}">
            </li>
            {{/if}}
        </ul>
    </div>
    <div id="navbar-trigger" class="navbar-trigger">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</div>
